<form
  class="form-group"
  style="margin: 10px; width: 250px;"
  (ngSubmit)="signIn();"
  [formGroup]="formSignIn"
>
  <div class="form-group">
    <label for="">Email</label>
    <input
      class="form-control"
      placeholder="Enter your email"
      formControlName="email"
    >
    <i *ngIf="emailInvalid">
      {{ emailErrorMessage }}
    </i>
  </div>
  <div class="form-group">
    <label for="">Password</label>
    <input
      type="password"
      class="form-control"
      placeholder="Enter your password"
      formControlName="password"
    >
    <i *ngIf="passwordInvalid">
      Password không hợp lệ
    </i>
  </div>
  <button class="btn btn-success" [disabled]="formSignIn.invalid">
    Sign In
  </button>
</form>
<pre>{{ formSignIn.value | json }}</pre>
<pre>Form invalid: {{ formSignIn.invalid }}</pre>