<form
  class="form-group"
  style="margin: 10px; width: 250px;"
>
  <div class="form-group">
    <label for="">Email</label>
    <input
      class="form-control"
      placeholder="Enter your email"
    >
  </div>
  <div class="form-group">
    <label for="">Password</label>
    <input
      type="password"
      class="form-control"
      placeholder="Enter your password"
    >
  </div>
  <div class="form-group">
    <label for="">Re enter password</label>
    <input
      type="password"
      class="form-control"
      placeholder="Re-enter your password"
    >
  </div>
  <button class="btn btn-success">
    Sign Up
  </button>
</form>
